<app-navbar></app-navbar>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center"></div>
<div class="container">
  <h3 class="status-heading">Track your Status</h3>
  <ng-container *ngIf="!loggedOut; else loginMessage">
    <table class="status-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Raised At</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of data">
          <td>{{ issue.id }}</td>
          <td>{{ issue.name }}</td>
          <td>{{ issue.raisedAt }}</td>
          <td><span [ngClass]="{ 'status-active': issue.status === 'ACTIVE', 'status-processing': issue.status ==='PROCESSING' ,'status-resolved': issue.status === 'RESOLVED', 'status-rejected': issue.status === 'REJECTED' }">{{ issue.status }}</span></td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #loginMessage>
    <div class="login-message">Login to view your issue status</div>
  </ng-template>
</div>
<app-footer></app-footer>